
/* athiti-200 - latin-ext */

html, body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align:left;
    font-size:100%;
    font-weight: 100;
    color:black;
    line-height: 1.4;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }
    a { color: #80b3ff; }
}

h2 {
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px; 
}

p {
    color:black;
    font-size:100%;
    background-color:inherit;
}


a img{border:none;}

img.left,img.center,img.right{padding:3px; border:none;}
img.left{float:left; margin:0 10px 5px 0;}
img.center{display:block; margin:0 auto 5px auto;}
img.right{float:right; margin:0 0 5px 10px;}


